@media only screen and (max-device-width: 768px){
    .header-content-container{display: block; }
.header-content{padding:12px;}
    header{height: unset;}
    .partners-logos{    justify-content: space-around;
 
        gap: 5px;
        flex-wrap: wrap;
        margin-top:3px;
        margin-bottom:3px;
    }
    .header-content h4{text-align: center; margin-bottom:5px;}
    .search-container input{font-size: 11px;}
    .header-content-container img {
max-width: 100%;
    }
    .reviews-slider h2{line-height: 32px;}
    .slider-card-bottom-area{flex-direction: column;}
    .slider-card-bottom-area .rate{justify-content: flex-end;}
}































}