html,body{padding: 0;margin: 0; box-sizing: border-box;}
body{max-width: 1440px; margin:auto;}
.main-content{height:1102px; background-color:lightgrey;}
footer{height: 266px; background-color: lightpink;}



