.top-line{width:32px;height: 1px;margin: auto; background-color: #F59E0B;}
.reviews-slider h4{font-family: Lexend; font-size: 14px; font-weight: 500; line-height: 0px; text-align: center;color:#F59E0B;}
.reviews-slider h2{font-family: Lexend; font-size: 32px; font-weight: 600; line-height: 0px; text-align: center;color:#1B1C57; margin-top:42px;}